@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

body {
  background-color: black;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  font-weight: 200 !important;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

#canvas {
  background-color: transparent !important;
}

.border-gradient {
  background-image: linear-gradient(to bottom, #5FF0E0, #717BF7);
}

.border-gradient-left {
  background-image: linear-gradient(to left, #5FF0E0, #717BF7);
}

.border-gradient-right {
  background-image: linear-gradient(to right, #5FF0E0, #717BF7);
}

.progress-gradient {
  background-image: linear-gradient(to right, #5FF0E0, #717BF7);
}

.background-gradient {
  background-image: linear-gradient(to bottom, rgba(95, 240, 224, 0.5), rgba(113, 123, 247, 0.75));
}

.focus-color {
  background: linear-gradient(to bottom, #5FF0E0, #717BF7);
  background-clip: text;
  color: transparent;
}

.gradient-right {
  background-image: linear-gradient(to right, #5FF0E0, #717BF7);
}

.gradient-left {
  background-image: linear-gradient(to left, #5FF0E0, #717BF7);
}

.single {
  background-color: #717BF7;
}

.line-gradient {
  background-image: linear-gradient(to bottom, rgba(95, 240, 224, 0.5), rgba(113, 123, 247, 0.5))
}

.timeline-4 {
  background-image: linear-gradient(180deg, #5FF0E0 -2710%, #717BF7 100%)
}

.timeline-3 {
  background-image: linear-gradient(180deg, #5FF0E0 -2238%, #717BF7 554%);
}

.timeline-2 {
  background-image: linear-gradient(180deg, #5FF0E0 -424%, #717BF7 2386%);
}

.timeline-1 {
  background-image: linear-gradient(180deg, #5FF0E0 0%, #717BF7 2754%);
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.segment {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%);
}

.segment:nth-child(1) {
  transform: rotate(0deg);
  clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%);
  opacity: 0.25;
}
.segment:nth-child(2) {
  transform: rotate(18deg);
  clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%);
  opacity: 0.25;
}
.segment:nth-child(3) {
  transform: rotate(54deg);
  clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%);
  opacity: 0.25;
}
.segment:nth-child(4) {
  transform: rotate(90deg);
  clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%);
  opacity: 0.25;
}
.segment:nth-child(5) {
  transform: rotate(162deg);
  clip-path: polygon(50% 50%, 50% 0, 100% 0, 100% 100%);
  opacity: 0.25;
}

.tokenomic65 {
  background-image: url('assets/images/65.png');
  opacity: 0.75;
}

.tokenomic5 {
  background-image: url('assets/images/5.png');
  opacity: 0.75;
}

.tokenomic101 {
  background-image: url('assets/images/10-1.png');
  opacity: 0.75;
}

.tokenomic102 {
  background-image: url('assets/images/10-2.png');
  opacity: 0.75;
}

.tokenomic103 {
  background-image: url('assets/images/10-3.png');
  opacity: 0.75;
}

.tokenomic65:hover {
  opacity: 1;
}

.tokenomic5:hover {
  opacity: 1;
}

.tokenomic101:hover {
  opacity: 1;
}

.tokenomic102:hover {
  opacity: 1;
}

.tokenomic103:hover {
  opacity: 1;
}
